body {
  margin: 0;
  background: #27272a;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  color: #fff;
}

#mazeContainer {
  position: relative;
  border-color: #4ade80;
}

.wall {
  position: absolute;
  background-color: #4ade80;
}

#start {
  position: absolute;
  writing-mode: vertical-rl;
  top: 410px;
  left: -50px;
  background-color: #1b6b41;
}

#exit {
  position: absolute;
  top: 680px;
  left: 410px;
  background-color: #ff0303;
}